<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add song</title>
</head>
<body>
    <form action="/create" method="post">
       name: <input type="text" name="name"/>
        author: <input type="text" name = "author"/>
        style: <input type="text" name = "style"/>
        publish date : <input type="text" name = "publishDate"/>
        language: <input type="text" name= "language"/>
        description: <input type="text" name = "description"/>
        rate : <input type="text" name = "rate"/>
        comments<input type="text" name = "comments"/>
    </form>
</body>
</html>